// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~@coreui/coreui/scss/coreui';
@import '~simple-line-icons/scss/simple-line-icons';

// Custom Styles
// .card {
//   box-shadow: 0 1px 4px rgba(0,0,0,.4);
//   &.border-primary,
//   &.border-secondary,
//   &.border-success,
//   &.border-info,
//   &.border-warning,
//   &.border-danger,
//   &.border-light,
//   &.border-dark {
//     border-width: 1px;
//   }
// }

.form-control:focus {
    border-color: rgba(82,168,236,.8);
    border-radius: 4px;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    // box-shadow : "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)";  
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);    
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.highlight {
    background-color: yellow;
}
